@import url('hhtps://fonts.googleapis.com/css?family=Poppins: 200, 300, 400, 500, 600, 700, 800, 900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0062be;
    transition: 0.5s;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo{
    position: relative;
    max-width: 80px;
    border-radius: 50px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: #000;
    font-weight: bold;
    margin-left: 40px;
    text-decoration: none;
    background-color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
}

header ul li a:hover{
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}
.content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.content .textBox{
    position: relative;
}
.widget .wid{
    color: #000 !important;
    font-size: 1.5em !important;
    text-align: center !important;
    font-weight: 900 !important;
    text-transform: uppercase !important;
    padding: 8px !important;
}
 h2, h3{
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.content .textBox h2 span {
    font-size: 2em;
}

.content .textBox p{
    color: #fff;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #000;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;

}

.content .textBox a:hover{
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

.content .imgBox{
    width: 600px;
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
    margin-top: 50px;
}

.content .imgBox img{
    max-width: 260px;
    
}

.thumb  {
    position: absolute;
    left: 50px;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin-left: 70%;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover{
    transform: translateY(-15px);
}

.thumb li img{
    max-width: 40px;
}

.widget{
    background-color: #fff;
    filter: drop-shadow(0 0 0.75rem black);
    width: 300px;
    height: 350px;
    color: #000;
    transition: 00.5s;
    margin-top: 25px;
    display: inline-table;
    margin: 30px;
}

.widget:hover{
    background-color: rgb(238, 238, 238);
    transform: translateY(-15px);


}

.widget img{
    width: 300px;
    height: 150x;
}

.widget .view {
    margin: auto !important;
    text-align: center !important;
    transition: 00.5s !important;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    background: #f2f2f2;
    border: solid 4px #000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type=submit]:hover {
    background-color: #161616;
  }
  
  .container {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    filter: drop-shadow(0 0 0.75rem rgb(219, 219, 219));
    margin-top: 25px;

  }

  label{
      font-weight: bold;
  }